.coach-arrange a , span{ 
    padding-bottom: 0px;
    margin-bottom:0px;            
}

.MuiPickersToolbar-toolbar{
    background-color:#fd702d !important; 
}

.MuiPickersDay-daySelected{
    background-color:#fd702d !important;  
}

.MuiButton-textPrimary{
    color:#fd702d !important;
}

.MuiInput-underline:before{
    border-bottom:none !important;
}

.MuiFormLabel-root.Mui-focused{
    color:white !important;
}

.MuiInput-underline:after{
    border-bottom:none !important;
}

.class_book label{
    display:none;
}